# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Pygame temporary files
*.log
*.sav
*.db

# MacOS / Windows
.DS_Store
Thumbs.db

# IDE / Editor config files
.vscode/
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Compiled game assets
build/
dist/
*.exe
*.dll
*.so
*.dylib